<nav class="navbar">
    <div class="container">
        <ul class="navbar__nav">
            <li><a href="/">Home</a></li>
            <li><a href="/user">Login</a></li>
        </ul>
    </div>
</nav>