<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <header>
    <% include partials/header %>
  </header>
  <main>
    <div class="mood-box box">
      <div class="mood">
        <h1>Hey buddy! How's your mood?</h1>
        <h6>(Choose from the below moods)</h6>
        <div class="mood-scale">

        </div>
      </div>
      <div class="comments">
        <h1>Let's Talk!</h1>

      </div>
    </div>
  </main>
  <script src="/js/jquery.min.js"></script>
</body>

</html>