<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <header>
        <% include partials/header %>
    </header>
    <main>
        <section>
            <div class="login-page">
                <div class="form">
                    <form class="login-form" method="POST" action="/user/authenticate">
                        <input type="email" placeholder="Username" name="username" class="username" id="username" required/>
                        <input type="password" placeholder="Password" name="password" class="password" id="password" required/>
                        <button class="login-form__btn" id="login-form__btn">login</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <script src="/js/user.auth.js"></script>
</body>

</html>