<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <header>
        <% include partials/header %>
    </header>
    <main>
        <div class="container">
            <table>
                <thead>
                    <th>name</th>
                    <th>mood_type</th>
                    <th>currentDate</th>
                    <th>message</th>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </main>
</body>

</html>